#output as png image
set terminal pngcairo size 2000,1000
set output "uwsgi_gunicorn5.png"
set multiplot layout 3,3
#save file to "domain.png"

#graph title
# set key invert reverse Left outside
#nicer aspect ratio for image size
#set size 1,0.7

# y-axis grid
set grid y,x

#x-axis label
set xlabel "requests"

#y-axis label
set ylabel "response time (ms)"

# set xtics 0,100,2000

#plot data from "biz.dat" using column 9 with smooth sbezier lines
#and title of "Biz Performance" for the given data
# plot "dat/500.dat" using 9 with lp lt 1 pt 7 title "uwsgi", \
# "dat/g_500.dat" using 9 with lp lt 4 pt 4 title "gunicorn" 


set title "uwsgi vs gunicorn c 1000 n 100"
plot "dat/uwsgi_n1000-c100.dat" using 9 smooth sbezier with lines lw 2  title "uwsgi n1000 c100", \
"dat/gunicorn_n1000-c100.dat" using 9 smooth sbezier with lines lw 2 title "gunicorn n1000 c100" 

set title "uwsgi vs gunicorn c 1000 n 200"
plot "dat/uwsgi_n1000-c200.dat" using 9 smooth sbezier with lines lw 2  title "uwsgi n1000 c200", \
"dat/gunicorn_n1000-c200.dat" using 9 smooth sbezier with lines lw 2 title "gunicorn n1000 c200" 

set title "uwsgi vs gunicorn c 1000 n 500"
plot "dat/uwsgi_n1000-c500.dat" using 9 smooth sbezier with lines lw 2  title "uwsgi n1000 c500", \
"dat/gunicorn_n1000-c500.dat" using 9 smooth sbezier with lines lw 2 title "gunicorn n1000 c500" 

set title "uwsgi vs gunicorn c 2000 n 100"
plot "dat/uwsgi_n2000-c100.dat" using 9 smooth sbezier with lines lw 2  title "uwsgi n2000 c100", \
"dat/gunicorn_n2000-c100.dat" using 9 smooth sbezier with lines lw 2 title "gunicorn n2000 c100" 

set title "uwsgi vs gunicorn c 2000 n 200"
plot "dat/uwsgi_n2000-c200.dat" using 9 smooth sbezier with lines lw 2  title "uwsgi n2000 c200", \
"dat/gunicorn_n2000-c200.dat" using 9 smooth sbezier with lines lw 2 title "gunicorn n2000 c200" 

set title "uwsgi vs gunicorn c 2000 n 500"
plot "dat/uwsgi_n2000-c500.dat" using 9 smooth sbezier with lines lw 2  title "uwsgi n2000 c500", \
"dat/gunicorn_n2000-c500.dat" using 9 smooth sbezier with lines lw 2 title "gunicorn n2000 c500" 


set title "uwsgi vs gunicorn c 5000 n 100"
plot "dat/uwsgi_n5000-c100.dat" using 9 smooth sbezier with lines lw 2  title "uwsgi n5000 c100", \
"dat/gunicorn_n5000-c100.dat" using 9 smooth sbezier with lines lw 2 title "gunicorn n5000 c100" 

set title "uwsgi vs gunicorn c 5000 n 200"
plot "dat/uwsgi_n5000-c200.dat" using 9 smooth sbezier with lines lw 2  title "uwsgi n5000 c200", \
"dat/gunicorn_n5000-c200.dat" using 9 smooth sbezier with lines lw 2 title "gunicorn n5000 c200" 

set title "uwsgi vs gunicorn c 5000 n 500"
plot "dat/uwsgi_n5000-c500.dat" using 9 smooth sbezier with lines lw 2  title "uwsgi n5000 c500", \
"dat/gunicorn_n5000-c500.dat" using 9 smooth sbezier with lines lw 2 title "gunicorn n5000 c500" 





# plot "dat/50.dat" using 9 smooth sbezier with lines title "uwsgic3000n50", \
# "dat/100.dat" using 9 smooth sbezier with lines title "uwsgic3000n100", \
# plot "dat/500.dat" using 9 smooth sbezier with lines title "uwsgi"

unset multiplot
# unset output

